############################
# Maven
############################

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

############################
# Compiled class files
############################

*.class

############################
# Logs
############################

*.log

############################
# IntelliJ IDEA
############################

.idea/
*.iws
*.iml
*.ipr

############################
# OS files
############################

.DS_Store
Thumbs.db

############################
# Temporary files
############################

*.swp
*.tmp